{% extends 'add/add.html.twig' %}

{% block header %}

<header class="flex items-center justify-around px-4 py-3 bg-gray-900">
    <div>
      <img class="h-8" src="public/assets/img/logo-inverted.svg" alt="Workcation">
    </div>
    <div>
      <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-6 rounded-full">
          SUBMIT AD
      </button>
    </div>
</header>

{% endblock header %}

{% block form %}

<div class="bs-callout bs-callout-warning hidden">
    <h4>Oh snap!</h4>
    <p>This form seems to be invalid :(</p>
</div>
  
<div class="bs-callout bs-callout-info hidden">
    <h4>Yay!</h4>
    <p>Everything seems to be ok :)</p>
</div>

<div class="bg-gray-100 mx-auto mt-6 max-w-4xl rounded-lg px-4">
    <form class="" id="add-form" method="GET" action="/addform" data-parsley-validate="">
        <div class="flex">
            <div class="w-1/2 px-4 py-4">
                <label class="block text-gray-700 text-lg font-bold mb-2" for="firstName">First Name</label>
                <input name="firstName" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="text" value="Jane" required="">
                <div class="bs-callout bs-callout-warning hidden">
                    <h4>Oh snap!</h4>
                    <p>This form seems to be invalid :(</p>
                </div>
            </div>
            <div class="w-1/2 px-4 py-4">
                <label class="block text-gray-700 text-lg font-bold mb-2" for="lastName">Last Name</label>
                <input name="lastName" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="text" value="Doe" required="">
            </div>
        </div>
        <div class="px-4 py-4">
            <label class="block text-gray-700 text-lg font-bold mb-2" for="email">Email</label>
            <input name="email" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="email" value="email@example.com" required="">
        </div>
        <div class="px-4 py-4">
            <label class="block text-gray-700 text-lg font-bold mb-2" for="phone">Phone</label>
            <input name="phone" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="tel" value="0381617147" required="">
        </div>
        <div class=" min-w-fullinline-block relative px-4 py-4">
            <label class="block text-gray-700 text-lg font-bold mb-2" for="category_id">Category</label>
            <select name="category_id" class="min-w-full block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option value="2">Car - Motorcycle</option>
              <option>Really long option that will likely overlap the chevron</option>
              <option>Option 2</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-3 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
        <div class="px-4 py-4">
            <label class="block text-gray-700 text-lg font-bold mb-2" for="title">Title</label>
            <input name="title" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="text" value="Title...">
        </div>
        <div class="px-4 py-4">
            <label class="block text-gray-700 text-lg font-bold mb-2" for="description">Description</label>
            <input name="description" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="text" value="Item description goes here..." data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 character comment..">
        </div>
        <div class="px-4 py-4">
            <label class="block text-gray-700 text-lg font-bold mb-2" for="picture">Picture upload</label>
            <input name="picture" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="file" value="0381617147">
        </div>
        <div class="px-4 py-4">
            <input type="submit" class="g-recaptcha bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-6 rounded-full" value="SUBMIT" data-sitekey="6LfLrsIZAAAAAFAudA1Ub_FMyqqunz2pVzXQYV-r" data-callback='onSubmit' data-action='submit'>
        </div>
    </form>
</div>

{% endblock form %}

{% block javascript %}

<script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
<script type="text/javascript" src="public/assets/js/jquery.js"></script>
<script type="text/javascript" src="public/assets/js/parsley.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#add-form').parsley().on('field:validated', function() {
          var ok = $('.parsley-error').length === 0;
          $('.bs-callout-info').toggleClass('hidden', !ok);
          $('.bs-callout-warning').toggleClass('hidden', ok);
        })
      });

    function onSubmit(token) {
      document.getElementById("add-form").submit();
    }
</script>

{% endblock javascript %}