<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tailwind.css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="bg-gray-200 h-full">
    {% block header %}{% endblock header %}
    
    {% block hero %}{% endblock hero %}

    {% block details %}{% endblock details %}

    {% block footer %}{% endblock footer %}

    {% block javascript %}{% endblock javascript %}
</body>
</html>