<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ SERVER_URI }}/css/tailwind.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.min.css">
    <link rel="icon" type="image/png" href="{{ SERVER_URI }}/assets/img/favicon.png"/>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <!-- Header -->
    {% block header %}{% endblock header %}
    <!-- Form -->
    {% block form %}{% endblock form %}
    <!-- JS -->
    {% block javascript %}{% endblock javascript %}
</body>
</html>